.btn-create{
  background-color: #ffffff;
  color: #F5AB1E;
}

.btn-create:hover{
  background-color: #F5AB1E;
  color: #ffffff;
}

.icon-chat{
  width: 60%;
  margin-top: -4px;
  max-width: 50px;
  min-width: 28px;
}

.btn-checkbox-login1{
  margin-top: 20px;
}

.btn-checkbox-login1 input:[type=checkbox] {
    display: none;
    padding-left: -200px;
}
.btn-checkbox-login1 label {
  position: relative;
  padding-left: 20px;
}
.btn-checkbox-login1 span:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
    border-radius: 3px;
    position: absolute;
    left: 0;
    bottom: 0;
}
.btn-checkbox-login1 input[type=checkbox]:checked + label span:before {
    content: "\2713";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 15px;
    color: #F5AB1E;
    text-align: center;
    line-height: 17px;
    background-color: #ffffff;
}

/* Nút Dropdown*/
.nut_dropdown {
  background-color: #ffffff;
  border: none;
}

/* Thiết lập vị trí cho thẻ div với class dropdown*/
.dropdown-account {
  position: relative;
  display: inline-block;
}

/* Nội dung Dropdown */
.noidung_dropdown {
  /*Ẩn nội dụng các đường dẫn*/
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 10;
}

/* Thiết kế style cho các đường dẫn tronng Dropdown */
.noidung_dropdown a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.hienThi{
  display:block;
}
